/********  utils  *******/

:root {
    --main-color:#f5ebe0;
    --header-color:#e9ecef;
    --card-color:#fefae0;
}

/****  fonts  ****/
* {
    font-family: 'Dosis',sans-serif;
}

h1 {
    font-size: 2rem;
    color: #000;
    font-weight: 800;
}

h2 {
    font-size: 1.9rem ;
    color:black;
    margin: 5px;
}

h3 {
     margin: 0;
    font-size: 1.25rem;
    margin-bottom: 5px;
    text-align: center;
}

p {
    margin: 0;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
}


/*******  components  ******/

.hero-btn {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: var(--card-color);
    cursor: pointer;
    box-shadow:0px 10px 16px lightgray;
}

.btn {
    display: flex;
    justify-content: center;
}


.nav-items a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

.nav-items a:hover {
    color:  #0077cc;;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color:#000;
    font-size: 1.125rem;
    font-weight: 500;
}

a:hover {
    color:#0077cc;
}


.card-link {
    color:#89c2d9;
}

.about-link {
    color:#89c2d9;
}

.fa-phone,
.fa-envelope {
    padding-right: 5px;
    color:#89c2d9;
}

.fa-instagram,
.fa-facebook, 
.fa-twitter{
    font-size: 1.25rem;

}

input {
    width: 250px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: 10px;
}

/*******  body  *******/

body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


/******  header  ********/

.nav-header {
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    position: relative;
    opacity: 0.7;
    box-shadow: 0px 12px 4px lightgray;
}

.logo {
    font-size: 2rem;
}


.nav-items ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 40px;
}


/******  hero-section  *******/

.hero-container {
  position: relative;

}

.hero-img {
    background-color: #e9ecef;
}
.hero-img {
    width: 100%;
    height: 500px;
    object-fit:cover;
    opacity: 0.9;
}


.hero-content {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    position: absolute;
    left: 514px;
    bottom: 300px;
}

/********  Attractions-and-About *******/

.Attraction-and-About {
    display: flex;
}

.Attraction-and-About section {
    padding: 20px;
}

.Attractions-container {
    border-radius: 20px 20px 20px 20px;
    width: 70%;
    margin:40px 50px 40px 50px ;
    background-color: var(--main-color);
}

.Attraction-title {
    display: flex;
    justify-content: center;
}

.Attraction-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
}

.Attraction-cards .card {
    width: 45%;
    border-radius: 15px;
    background-color:var(--card-color) ;
    box-shadow: 0px 13px 41px lightgray;
}

.Attraction-cards:hover {
    
}

.card-body {
    text-align: center;
}

.card-img {
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    height: 150px;
    width: 100%;
}

/********  About  *********/

.About-container {
    background-color: var(--main-color);
    margin: 40px 0px 0px 50px;
    width: 80%;
    border-radius: 20px;
    height: 665px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .About-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }
  
  .about-img {
      border-radius: 20px;
      width: 100%;
      height: 350px;
      object-fit: cover;
  }
  

/********  Accommodation  *******/

.Accommodation-container {
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 20px;
    margin: 100px 50px 60px 50px;
}

.Accommodation-content {
    display: flex;
    justify-content: center;
}

.Accomm-cards {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.Accomm-cards .card {
    display: flex;
    flex-wrap: wrap;
    width: 292px;
    border-radius: 15px;
    background-color: var(--card-color);
    box-shadow: 0px 13px 41px lightgray;
}

.card-content {
    text-align: center;
}

.card-image {
    border-radius: 15px 15px 0px 0px ;
    width: 100%;
    height: 160px;
    object-fit: cover;
}


/*******  review  *******/

.reviews-container {
    margin: 100px 50px 40px 50px;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 20px;
}

.reviews-content {
    display: flex;
    justify-content: center;
}

.faq-cards {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  flex-wrap: wrap;
    gap: 30px;
}

.faq-cards .card {
  width: 282px;
  background-color: var(--card-color);
  border-radius: 10px;
  height: 150px;
  padding:10px ;
}

/****  contact  ***/

.contact-container {
    justify-content: center;
    background-color: var(--main-color);
    width: 80%;
    margin: 80px 150px 40px;
    border-radius: 15px;
}

.contact-content {
    display: flex;
    justify-content: center;
}

.contact-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
}


/*******  footer-section  ********/

.nav-footer {
    padding: 40px 30px 0px 30px;
    background-color: #f8f9fa;
}

.nav-footer-items ul {
    list-style: none;
    padding-left: 5px;
    font-size: 1rem;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



/*****  media-query  *****/

@media screen and (max-width: 480px) {
    
    .nav-header{
        display: flex;
        flex-direction: column;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        
    }

    .hero-content {
        position: absolute;
        left: 32px;
    }

    /****** Attraction and about  ******/

    .Attraction-and-About {
        display: flex;
        flex-direction: column;
        padding: 0;
    }


    .about-img {
        display: flex;
        flex-direction: column;
        width:98%;
    }

    .About-container {
        height: fit-content;
        margin: 30px;
    }

    .Attractions-container {
        display: flex;
        flex-direction: column;
       
    }

    .Attraction-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Attraction-cards .card {
        width: 100%;
    }

    
/*****  faq-section  *****/
    .reviews-container {
        display: flex;
        flex-direction: column;
        margin-top: 34px;
    }

 /*****  Accomm-section  ******/

    .Accommodation-container {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
    }



    
}