/********  utils  *******/

:root {
    --main-color:#f5ebe0;
    --header-color:#e9ecef;
    --card-color:#fefae0;
}

/****  fonts  ****/
* {
    font-family: 'Dosis' ,sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.9rem ;
    font-weight: 700;
    margin: 5px;
}

h3 {
    font-weight:700;
    margin: 0;
    font-size: 1.25rem;
    margin-bottom: 5px;
    text-align: center;
}

p {
    margin: 0;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
}


/*********  components  *********/

/** buttons  **/
.hero-btn {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: var(--card-color);
    cursor: pointer;
    box-shadow:0px 10px 16px lightgray;
    transition: 0.6s;
}

.hero-btn:hover

.btn {
    display: flex;
    justify-content: center;
}

.hero-btn:hover {
    opacity: 0.7;
    transform: scale(1.15);
}

.faq-toggle {
    border: none;
    background-color: transparent;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.bi-plus {
    font-size: 30px;
    color: var(--card-color);
}

/*********  components  *********/



/****  links/ a tags ****/
.nav-items a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

.nav-items a:hover {
    color: #0077cc;
    text-decoration: underline;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
}

a:hover {
    color:#0077cc;
}


.card-link {
    color:#89c2d9;
}


.about-link {
    color:#89c2d9;
}

/******  icons  *****/

.fa-phone,
.fa-envelope,
.fa-location-dot {
    padding-right: 10px;
    color:#89c2d9;
}

.fa-instagram,
.fa-facebook, 
.fa-twitter{
    font-size: 1.25rem;
}

/******  icons  *****/




/******  form  ******/

:placeholder-shown {
    padding: 10px;
}

input {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 20px 20px 20px 10px;
    height: 40px;
    outline: 0;
}

textarea {
    height: 90px;
    width: 95%;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-top: 10px;
    outline: 0;
}

/******  form  ******/



/*******  body  *******/

body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


/******  header  ********/

.nav-header {
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    position: relative;
    opacity: 0.7;
    box-shadow: 0px 12px 4px lightgray;
}

.logo {
    font-size: 2rem;
}


.nav-items ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 40px;
}


/******  hero-section  *******/

.hero-container {
  position: relative;

}

.hero-img {
    background-color: #e9ecef;
}
.hero-img {
    width: 100%;
    height: 500px;
    object-fit:cover;
    opacity: 0.9;
}


.hero-content {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    position: absolute;
    left: 514px;
    bottom: 300px;
}

/********  Attractions-and-About *******/

.Attraction-and-About {
    display: flex;
}

.Attraction-and-About section {
    padding: 20px;
}

.Attractions-container {
    border-radius: 20px 20px 20px 20px;
    width: 70%;
    margin:40px 50px 40px 50px ;
    background-color: var(--main-color);
}

.Attraction-title {
    display: flex;
    justify-content: center;
}

.Attraction-cards {
    transition: .6s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
}


.Attraction-cards .card {
    width: 45%;
    border-radius: 15px;
    background-color:var(--card-color) ;
    box-shadow: 0px 13px 41px lightgray;
    transition: 0.4s;
  
}

.Attraction-cards .card:hover {
    transform: scale(1.10);
}



.card-body {
    text-align: center;
}

.card-img {
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    height: 150px;
    width: 100%;
}

/********  About  *********/

.About-container {
    background-color: #caf0f8;
    margin: 40px 0px 0px 50px;
    width: 80%;
    border-radius: 20px;
    height: 665px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .About-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }
  
  .about-img {
      border-radius: 20px;
      width: 100%;
      height: 350px;
      object-fit: cover;
  }
  

/********  About  *********/




/********  Accommodation  *******/

.Accommodation-container {
    background-color: #caf0f8;
    padding: 20px;
    border-radius: 20px;
    margin: 100px 50px 60px 50px;
}

.Accommodation-content {
    display: flex;
    justify-content: center;
}

.Accomm-cards {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.Accomm-cards .card {
    display: flex;
    flex-wrap: wrap;
    width: 292px;
    border-radius: 15px;
    background-color: var(--card-color);
    box-shadow: 0px 13px 41px lightgray;
    transition: 0.5s;
    transform: scale(1);
}

.Accomm-cards .card:hover {
    transform: scale(1.10);

}

.card-content {
    text-align: center;
}

.card-image {
    border-radius: 15px 15px 0px 0px ;
    width: 100%;
    height: 160px;
    object-fit: cover;
}

/********  Accommodation  *******/




/*******  review  *******/

.reviews-container {
    margin: 100px 50px 40px 50px;
    padding: 50px;
    background-color:var(--main-color);
    border-radius: 20px;
}

.reviews-content {
    display: flex;
    justify-content: center;
}

.faq-cards {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.faq-cards .card {
  width: 50%;
  border-radius: 10px;
  padding:10px ;
  transition: 0.5s;
    transform: scale(1);
}

.faq-cards .card:hover {
    transition: 0.6s;
    transform: scale(1.1);
}

.card-body {
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -7px;
    border-radius: 5px;
}

.answer-text {
    margin-top: 15px;
    background-color: var(--card-color);
}

/*******  review  *******/




/****  contact  ***/

.contact-container {
    justify-content: center;
    background-color: var(--main-color);
    height: 290px;
    margin: 80px 150px 40px;
    border-radius: 15px;
    padding: 30px;
}

.contact-content {
    display: flex;
    justify-content: center;
}

.contact-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
}

/****  contact  ***/




/*******  footer-section  ********/

.nav-footer {
    padding: 40px 30px 0px 30px;
    background-color: #f8f9fa;
}

.nav-footer-items ul {
    list-style: none;
    padding-left: 5px;
    font-size: 1rem;
}

.footer-txt {
    margin: 10px;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

/*******  footer-section  ********/



/*****  media-query  *****/

@media screen and (max-width: 480px) {

    /*** typeography ***/

    h1 {
        margin-top: 10px;
    }

    /*** typeography ***/

    

/**** components ****/

    input {
        display: flex;
    }

    a {
        text-align: center;
    }

    .nav-items a {
        font-size: 16px;
    }

    .nav-items ul {
        margin-left: -27px;
        display: flex;
        justify-content: end;
    }

.ham-burger {
    width: 60px;
    height: 50px;
    background-color: transparent;
    border: none;
    position: relative;
    bottom: 100px;
    cursor: pointer;
    padding: 15px;
    left: -8px;
}

.burger-bar {
  position: absolute;
  width: 60%;
  height: 5px;
  background-color: #4682bb;
  border-radius: 25px;
  left: 39px;
  bottom: 27px;
  transform: translate(-50%, -50%);
  transition: transform .9s, opacity .9s, top .6s;
}

.bar-center {
  top: 7px;
}

.bar-bottom {
  top: 29px;
}

.ham-burger.active .bar-top {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 28px;
}

.ham-burger.active .bar-center {
  opacity: 0;
}

.ham-burger.active .bar-bottom {
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 28px;
}

/**** components ****/

    
    .nav-header{
        display: flex;
        flex-direction: column;
    }

    .left-screen-menu {
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 374px;
    height: 118px;
    position: relative;
    left: -379px;
    top: -11px;
    transition-property: left;
    transition-duration: 1.1s;
    transition-timing-function: ease-in-out;
}

.left-screen-menu.active {
  left: 0;
}

    .hero-container {
        display: flex;
        flex-direction: column;
        
    }

    .hero-content {
        position: absolute;
        left: 32px;
    }

    /****** Attraction and about  ******/

    .Attraction-and-About {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 34px;
    }


    .about-img {
        display: flex;
        flex-direction: column;
        width:98%;
    }

    .About-container {
        height: fit-content;
        width: fit-content;
        margin: 34px;
    }

    .Attractions-container {
        display: flex;
        flex-direction: column;
       
    }

    .Attraction-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Attraction-cards .card {
        width: 100%;
    }

    
/*****  faq-section  *****/
    .reviews-container {
        display: flex;
        flex-direction: column;
        margin: 34px;
    }

 /*****  Accomm-section  ******/

    .Accommodation-container {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
    }

    /*****  contact  *****/

    .contact-container {
        margin: 50px;
        flex-direction: column;
        height:397px ;
    }

    input {
        margin: 5px;
    }

    textarea {
        margin: 5px;
        width: 91%;
    }
}